#root {
  scroll-behavior: smooth;
  margin-right: 10%;
  margin-left: 10%;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  border-top: solid;
  border-color: silver;
  margin-left: 10%;
  margin-right: 10%;
}
